.competicao .container {
    display: flex;
    justify-content: space-between;
}

.competicao-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.competicao-conteudo p{
    width: 400px;
    text-align: justify;
    margin-top: 10px;
}

.competicao {
    background: #00051C;
    padding: 15px 0;
    color: #fff;
}

.competicao-conteudo h2::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background: #850F22;
    margin: 5px auto;
}